.dialog{
	display:block;
	position:fixed;
	background-color:var(--vscode-menu-background);
	color:var(--vscode-menu-foreground);
	padding:10px;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	border:1px solid rgba(128,128,128,0.5);
	border-radius:5px;
	text-align:center;
	font-size:13px;
	line-height:17px;
	max-width:360px;
	max-height:80%;
	z-index:41;
	box-shadow:0 0 30px 5px var(--vscode-widget-shadow);
	overflow-y:auto;
}

.dialog > table.dialogForm{
	display:inline-table;
	width:360px;
}

.dialog > table.dialogForm td{
	padding-top:10px;
	text-align:left;
	white-space:nowrap;	
}

.dialog > table.dialogForm td.inputCol{
	width:100%;
}

.dialog > table.dialogForm.multi td:nth-child(1){
	padding-right:5px;
}

.dialog > table.dialogForm.single .dialogFormCheckbox{
	display:inline-block;
	text-align:center;
	width:100%;
}

.dialog .dialogFormCheckbox > label{
	user-select:none;
	cursor:pointer;
}

.dialog .customCheckbox{
	border-color:rgba(128,128,128,0.3);
}
.dialog > table.dialogForm.single .customCheckbox, .dialog > table.dialogForm.multiCheckbox .customCheckbox{
	margin-right:6px;
}
.dialog .dialogFormCheckbox > label > input[type=checkbox]:checked ~ .customCheckbox:after{
	border-color:var(--vscode-menu-foreground);
}

.dialog > table.dialogForm input[type=text], .dialog > table.dialogForm select{
	width:100%;
	padding:4px;
	box-sizing:border-box;
	border:1px solid rgba(128,128,128,0.3);
	outline-style:none;
}

.dialog .roundedBtn{
	display:inline-block;
	line-height:20px;
	padding:0 15px;
	margin:10px 6px 0 6px;
	height:22px;
	border-radius:11px;
}

.dialog .messageContent{
	display:inline-block;
	margin-top:10px;
	text-align:left;
	width:100%;
	word-wrap:break-word;
}

.dialog .errorContent{
	font-style:italic;
}

.dialog #dialogAction{
	background-color:rgba(128,128,128,0.15);
	border-color:rgba(128,128,128,0.8);
	box-shadow:0 0 1px 1px rgba(128,128,128,0.2);
}

.dialog #dialogAction:hover{
	background-color:rgba(128,128,128,0.25);
}

.dialog.noInput #dialogAction, .dialog.inputInvalid #dialogAction{
	background-color:rgba(128,128,128,0.2);
	opacity:0.5;
}

.dialog.noInput #dialogAction{
	cursor:default;
}

.dialog.inputInvalid #dialogAction{
	cursor:help;
}

.dialog svg{
	display:inline;
	fill:var(--vscode-menu-foreground);
	opacity:0.75;
	vertical-align:sub;
}

.dialog .dialogAlert svg, .dialog .actionRunning svg{
	margin-right:8px;
}

.dialog .dialogInfo{
	cursor:help;
}
.dialog .dialogInfo svg{
	width:15px !important;
	height:15px !important;
	margin-left:5px;
	margin-top:-2px;
	vertical-align:middle;
}

.dialog .actionRunning{
	margin:0 16px;
	line-height:24px;
}

.dialog .actionRunning svg{
	display:inline-block;
	width:15px !important;
	height:20px !important;
	margin-top:2px;
	vertical-align:top;
	animation:loadingIconAnimation 2s linear infinite;
}
