.settingsWidget{
	display:block;
	position:fixed;
	top:-158px;
	right:28px;
	width:400px;
	min-height:146px;
	padding:0 10px 4px 10px;
	z-index:31;
	background-color:var(--vscode-editorWidget-background);
	box-shadow:0 2px 8px var(--vscode-widget-shadow);
	line-height:17px;
	font-size:13px;
	color:var(--vscode-editorSuggestWidget-foreground);
	fill:var(--vscode-editorSuggestWidget-foreground);
	fill-opacity:0.7;
	user-select:none;
	overflow-x:hidden;
	overflow-y:auto;
	max-height:90vh;
}
.settingsWidget.active{
	top:0;
}
.settingsWidget.transition{
	transition:top .2s linear;
}

.settingsWidget .settingsSection{
	position:relative;
	padding:6px;
}

.settingsWidget h2{
	margin:8px 10px;
	padding:0;
	font-size:16px;
	line-height:24px;
	text-align:center;
}
.settingsWidget h3{
	position:relative;
	margin:5px 0;
	padding:0;
	font-size:15px;
	line-height:20px;
	text-align:center;
}

.settingsWidget table{
	width:100%;
	border-collapse:collapse;
}

.settingsWidget table tr.lineAbove td:before, .settingsWidget .settingsSection:before, .settingsWidget .settingsSectionButtons.lineAbove:before{
	content:'';
	position:absolute;
	display:block;
	left:0;
	top:0;
	right:0;
	height:1px;
	background-color:var(--vscode-editorSuggestWidget-foreground);
	opacity:0.3;
}
.settingsWidget table tr.lineAbove td:before, .settingsWidget .settingsSectionButtons.lineAbove:before{
	opacity:0.15;
}

.settingsWidget table th, .settingsWidget table td{
	position:relative;
	text-align:center;
	white-space:nowrap;
}
.settingsWidget table th{
	font-weight:bold;
	padding:3px 5px;
}
.settingsWidget table td{
	padding:0 5px 3px 5px;
}
.settingsWidget table tr.lineAbove td{
	padding-top:3px;
}
.settingsWidget table td.left{
	text-align:left;
}
.settingsWidget table td.leftWithEllipsis{
	width:100%;
	max-width:0;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:left;
}

.settingsWidget .hideRemoteBtn{
	position:relative;
	display:inline-block;
	width:13px;
	height:13px;
	margin-right:5px;
	vertical-align:middle;
	cursor:pointer;
}
.settingsWidget .hideRemoteBtn svg{
	position:absolute;
	top:0;
	left:0;
}

.settingsWidget .remoteBtns div{
	display:inline-block;
	position:relative;
	width:17px;
	height:17px;
	vertical-align:middle;
	cursor:pointer;
}
.settingsWidget .editRemote svg{
	position:absolute;
	left:1.5px;
	top:1.5px;
	width:14px !important;
	height:14px !important;
}
.settingsWidget .deleteRemote svg, .settingsWidget .fetchRemote svg, .settingsWidget .pruneRemote svg{
	position:absolute;
	left:0.5px;
	top:0.5px;
	width:16px !important;
	height:16px !important;
}

.settingsSectionText{
	display:inline-block;
	text-align:center;
}

.settingsSectionButtons{
	position:relative;
	width:100%;
	padding:2px 0;
	text-align:center;
}

.settingsSectionButtons > div{
	display:inline-block;
	line-height:24px;
	cursor:pointer;
	padding-right:6px;
}

#settingsAddRemote svg, #editIssueLinking svg{
	vertical-align:top;
	margin:6px;
	width:12px !important;
	height:12px !important;
}
#settingsAddRemote svg, #editIssueLinking.addIssueLinking svg{
	transform:rotate(45deg);
}
#removeIssueLinking svg{
	vertical-align:top;
	width:14px !important;
	height:14px !important;
	margin:5px;
}

#settingsLoading{
	display:none;
	position:absolute;
	top:27px;
	left:0;
	right:0;
	bottom:0;
	z-index:32;
	line-height:24px;
	text-align:center;
}
#settingsLoading span{
	position:absolute;
	top:50%;
	margin-top:-12px;
	left:0;
	right:0;
}
#settingsLoading svg{
	display:inline-block;
	width:15px !important;
	height:20px !important;
	margin-top:2px;
	margin-right:8px;
	vertical-align:top;
	animation:loadingIconAnimation 2s linear infinite;
}

#settingsClose{
	position:absolute;
	width:24px;
	height:24px;
	top:8px;
	right:10px;
	cursor:pointer;
	z-index:33;
}
#settingsClose svg{
	position:absolute;
	left:4px;
	top:4px;
	width:16px !important;
	height:16px !important;
}

.settingsSectionButtons > div:hover svg, .settingsWidget .hideRemoteBtn:hover svg, .settingsWidget .remoteBtns div:hover svg, #settingsClose:hover{
	fill-opacity:1;
}
.settingsWidget.loading #settingsContent{
	opacity:0.1;
}
.settingsWidget.loading #settingsLoading{
	display:block;
}
