/* Body */
body{
	margin:0;
	padding:0;
}
body.unableToLoad h1, body.unableToLoad p{
	text-align:center;
}

/* Content */
#content{
	position:relative;
}

/* Commit Graph */
#commitGraph{
	display:block;
	position:absolute;
	left:8px;
	top:71px;
}
#commitGraph{
	display:block;
	position:absolute;
	left:8px;
	top:31px;
}
#commitGraph circle.current{
	fill:var(--vscode-editor-background);
	stroke-width:2;
}
#commitGraph circle:not(.current){
	stroke:var(--vscode-editor-background);
	stroke-width:1;
	stroke-opacity:0.75;
}
#commitGraph path.shaddow{
	fill:none;
	stroke:var(--vscode-editor-background);
	stroke-opacity:0.75;
	stroke-width:4;
}
#commitGraph path.line{
	fill:none;
	stroke-width:2;
}

/* Commit Table */
#commitTable{
	display:block;
	position:absolute;
	left:0;
	right:0;
	top:0;
}
#commitTable table{
	width:100%;
	border-collapse:collapse;
}
#commitTable table, #commitTable tbody, #commitTable tr, #commitTable th, #commitTable td{
	padding:0;
	margin:0;
}
#commitTable th, #commitTable td{
	white-space:nowrap;
	font-size:13px;
	cursor:default;
}
#commitTable tr.commit:hover td, #commitTable tr.commit.contextMenuActive td, #commitTable tr.commit.dialogActive td, #commitTable tr.commit.commitDetailsOpen td{
	background-color:rgba(128,128,128,0.15);
}
#commitTable tr.commit:hover td{
	cursor:pointer;
}
#commitTable td{
	line-height:24px;
	padding:0 4px;
}
#commitTable th{
	border-left:1px solid rgba(128,128,128,0.5);
	border-bottom:1px solid rgba(128,128,128,0.5);
	background-color:rgba(128,128,128,0.2);
	line-height:18px;
	padding:6px 12px;
}
#commitTable th:first-child{
	border-left-width:0;
}

#commitTable td:nth-child(2), #commitTable th:nth-child(2){
	width:100%;
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:0;
}
#commitTable td:nth-child(4), #commitTable th:nth-child(4){
	max-width:120px;
	text-overflow:ellipsis;
	overflow:hidden;
}

/* Commit Details View */
#commitDetails{
	height:250px;
	vertical-align:top;
}
#commitDetails td{
	background-color:rgba(128,128,128,0.1);
	position:relative;
	font-size:13px;
	line-height:18px;
	white-space:normal;
}
#commitDetails td:after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:2px;
	background-color:rgba(128,128,128,0.2);
}
#commitTable tr.commit.commitDetailsOpen td{
	background-color:rgba(128,128,128,0.25);
}
#commitTable tr.commit.commitDetailsOpen:hover td{
	background-color:rgba(128,128,128,0.35);
}
#commitDetailsSummary{
	position:absolute;
	left:0;
	top:0;
	bottom:2px;
	width:45%;
	padding:10px;
	box-sizing:border-box;
	overflow-x:hidden;
	overflow-y:scroll;
	text-overflow:ellipsis;
	border-left:1px solid rgba(128,128,128,0.2);
	border-right:1px solid rgba(128,128,128,0.2);
	user-select:text;
}
#commitDetailsFiles{
	position:absolute;
	right:32px;
	top:0;
	bottom:2px;
	left:45%;
	border-right:1px solid rgba(128,128,128,0.2);
	overflow-x:hidden;
	overflow-y:scroll;
	padding-top:4px;
	padding-bottom:8px;
	box-sizing:border-box;
}
#commitDetailsFiles ul{
	list-style-type:none;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	-webkit-padding-start:30px;
}
#commitDetailsFiles > ul{
	-webkit-padding-start:10px;
}
#commitDetailsFiles li{
	margin-top:4px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow-x:hidden;
}
#commitDetailsClose{
	position:absolute;
	right:4px;
	top:4px;
	width:24px;
	height:24px;
	cursor:pointer;
}
#commitDetailsClose svg{
	width:24px;
	height:24px;
	fill:var(--vscode-editor-foreground);
	fill-opacity:0.6;
}
#commitDetailsClose:hover svg{
	stroke:var(--vscode-editor-foreground);
	stroke-width:1;
	stroke-opacity:0.2;
}
svg.openFolderIcon, svg.closedFolderIcon, svg.fileIcon{
	width:13px;
	height:13px;
	margin-top:2.5px;
	fill:var(--vscode-editor-foreground);
	fill-opacity:0.6;
	margin-right:8px;
	vertical-align:top;
}
.gitFolderContents.hidden{
	display:none;
}
.gitFolder{
	cursor:pointer;
}
.gitFile{
	color:var(--vscode-gitDecoration-modifiedResourceForeground);
}
.gitFile.A{
	color:var(--vscode-gitDecoration-addedResourceForeground);
}
.gitFile.D{
	color:var(--vscode-gitDecoration-deletedResourceForeground);
}
.gitFile.gitDiffPossible{
	cursor:pointer;
}
.gitFileAddDel, .gitFileRename{
	color:var(--vscode-editor-foreground);
	margin-left:8px;
}
.gitFileAdditions, .gitFileDeletions{
	padding:0 3px;
	cursor:help;
}
.gitFileAdditions{
	color:var(--vscode-gitDecoration-addedResourceForeground);
}
.gitFileDeletions{
	color:var(--vscode-gitDecoration-deletedResourceForeground);
}
.gitFileRename{
	cursor:help;
}

/* Ref labels */
.gitRef {
	display:inline-block;
	height:18px;
	line-height:18px;
	margin-top:2px;
	margin-right:5px;
	padding-right:5px;
	background-color:rgba(128,128,128,0.15);
	border-radius:5px;
	border:1px solid rgba(128,128,128,0.75);
	vertical-align:top;
	font-size:12px;
	cursor:default;
}
.gitRef > svg{
	fill:var(--vscode-editor-background);
	width:14px;
	height:14px;
	padding:2px;
	margin-right:5px;
	border-radius:4px 0 0 4px;
	vertical-align:top;
}

/* Loader */
#loadingHeader{
	text-align:center;
	line-height:32px;
}
#loadingHeader svg{
	display:inline;
	fill:rgb(128,128,128);
	margin-right:10px;
	vertical-align:top;
	animation:loadingIconAnimation 2s linear infinite;
}
@keyframes loadingIconAnimation{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

/* Controls */
#controls{
	display:block;
	position: relative;
	left:0;
	right:0;
	top:0;
	padding:4px 96px 4px 0;
	border-bottom:1px solid rgba(128,128,128,0.5);
	background-color:rgba(128,128,128,0.2);
	line-height:32px;
	text-align:center;
	font-weight:700;
	font-size:13px;
}
#repoControl, #branchControl, #showRemoteBranchesControl{
	white-space:nowrap;
	margin:0 10px;
}
#repoSelect, #branchSelect{
	margin-left:3px;
	font-size:13px;
}
#showRemoteBranchesCheckbox{
	width:14px;
	vertical-align:text-top;
}
#refreshBtn{
	position:absolute;
	right:8px;
	top:50%;
	width:80px;
	height:22px;
	line-height:22px;
	border-radius:11px;
	margin-top:-12px;
}
#loadMoreCommitsBtn{
	width:180px;
	height:28px;
	margin:10px auto;
	border-radius:14px;
	line-height:28px;
}

#controls select:focus, #controls input:focus{
	outline:none;
}
#controls label{
	cursor:pointer;
}

/* Context Menu */
#contextMenu{
	display:none;
	position:absolute;
	background-color:var(--vscode-menu-background);
	box-shadow:0 1px 4px 1px var(--vscode-widget-shadow);
	color:var(--vscode-menu-foreground);
	list-style-type:none;
	margin:0;
	padding:4px 0;
}
#contextMenu.active{
	display:block;
}
#contextMenu li{
	cursor:default;
}
#contextMenu li.contextMenuItem{
	padding:6px 20px;
}
#contextMenu li.contextMenuItem:hover{
	background-color:var(--vscode-menu-selectionBackground);
	color:var(--vscode-menu-selectionForeground);
}
#contextMenu li.contextMenuDivider{
	margin:4px 10px;
	border-top:1px solid var(--vscode-menu-separatorBackground);
	opacity:0.5;
}

/* Dialogs */
#dialog, #dialogBacking{
	display:none;
}
#dialog.active{
	display:block;
	position:fixed;
	background-color:var(--vscode-menu-background);
	color:var(--vscode-menu-foreground);
	padding:10px;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	border:1px solid rgba(128,128,128,0.5);
	border-radius:5px;
	text-align:center;
	max-width:360px;
	max-height:80%;
	z-index:10;
	box-shadow:0 0 30px 5px var(--vscode-widget-shadow);
	overflow-y:auto;
}

#dialog > table.dialogForm{
	display:inline-table;
    width:360px;
}
#dialog > table.dialogForm td{
	padding-top:10px;
	text-align:left;
	white-space:nowrap;	
}
#dialog > table.dialogForm td:last-child{
	width:100%;
}
#dialog > table.dialogForm.multi td:nth-child(1){
	padding-right:5px;
}
#dialog > table.dialogForm.single select{
	width:100%;
}
#dialog > table.dialogForm.single .dialogFormCheckbox{
	display:inline-block;
    text-align:center;
    width:100%;
}
#dialog > table.dialogForm input[type=text]{
	width:100%;
}
#dialog > table.dialogForm input[type=checkbox]{
	vertical-align:text-top;
	outline-style:none;
}
#dialog > table.dialogForm.multi input[type=checkbox]{
	margin-left:0;
}
#dialog > table.dialogForm input[type=text], #dialog > table.dialogForm select{
	padding:4px;
	box-sizing:border-box;
	border:1px solid rgba(128,128,128,0.3);
	outline-style:none;
}
#dialog .roundedBtn{
	display:inline-block;
	line-height:20px;
	padding:0 15px;
	margin:10px 6px 0 6px;
	height:22px;
	border-radius:11px;
}
#dialog .errorReason{
	display:inline-block;
	font-style:italic;
	margin-top:10px;
	text-align:left;
}
#dialogBacking.active{
	display:block;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:9;
}
#dialog.noInput #dialogAction, #dialog.inputInvalid #dialogAction{
	background-color:rgba(128,128,128,0.2);
	opacity:0.5;
}
#dialog.noInput #dialogAction{
	cursor:default;
}
#dialog.inputInvalid #dialogAction{
	cursor:help;
}
#dialog svg{
	display:inline;
	fill:rgb(128,128,128);
	margin-right:3px;
	line-height:20px;
	vertical-align:sub;
}
#actionRunning{
	margin:0 16px;
	line-height:24px;
}
#actionRunning svg{
	display:inline-block;
	fill:rgb(128,128,128);
	margin-right:10px;
	vertical-align:top;
	animation:loadingIconAnimation 2s linear infinite;
	width:18px !important;
	height:24px !important;
}

/* Buttons */
.roundedBtn{
	display:block;
	background-color:rgba(128,128,128,0.1);
	border:1px solid rgba(128,128,128,0.5);
	font-size:13px;
	text-align:center;
	cursor:pointer;
}
.roundedBtn:hover{
	background-color:rgba(128,128,128,0.2);
}

/* General */
#commitGraph, #commitTable th, #commitTable td, .gitRef, #loadingHeader, .unselectable, .roundedBtn, #controls label{
	user-select:none;
}