.findWidget{
	display:block;
	position:fixed;
	top:-42px;
	right:28px;
	height:34px;
	padding:0 10px;
	z-index:21;
	background-color:var(--vscode-editorWidget-background);
	box-shadow:0 2px 8px var(--vscode-widget-shadow);
	line-height:34px;
	font-size:13px;
	color:var(--vscode-editorSuggestWidget-foreground);
	fill:var(--vscode-editorSuggestWidget-foreground);
	fill-opacity:0.7;
	white-space:nowrap;
}
.findWidget.active{
	top:0;
}
.findWidget.transition{
	transition:top .2s linear;
}
.findWidget[data-error] #findInput, .findWidget[data-error]:after{
	outline:1px solid var(--vscode-inputValidation-errorBorder) !important;
}
.findWidget[data-error]:after{
	content:attr(data-error);
	position:relative;
	display:block;
	top:-6px;
	left:0;
	width:197px;
	padding:5px;
	font-size:12px;
	line-height:16px;
	background-color:var(--vscode-inputValidation-errorBackground);
	outline-offset:-1px !important;
	white-space:normal;
}

#findInput{
	display:inline-block;
	vertical-align:top;
	margin-top:4px;
	padding:5px 47px 5px 5px;
	border:0;
	width:155px;
	background-color:var(--vscode-input-background);
	color:var(--vscode-input-foreground);
	line-height:15px;
	font-size:13px;
	outline-offset:-1px !important;
}
#findInput:focus{
	outline:1px solid var(--vscode-focusBorder);
}
#findInput::placeholder{
	color:var(--vscode-input-placeholderForeground);
}

.findModifer{
	display:block;
	position:absolute;
	top:8px;
	height:17px;
	width:18px;
	line-height:17px;
	font-size:11px;
	cursor:pointer;
	user-select:none;
	text-align:center;
	color:var(--vscode-input-foreground);
	opacity:0.7;
}
.findModifer.active{
	background-color:var(--vscode-inputOption-activeBackground);
}
.findModifer:hover, .findModifer.active{
	opacity:1;
}
#findCaseSensitive{
	left:173px;
}
#findRegex{
	left:195px;
	font-size:12px;
}

#findPosition, #findPrev, #findNext, #findClose{
	display:inline-block;
	user-select:none;
}
#findPosition{
	min-width:80px;
	margin-left:10px;
}
#findPrev, #findNext, #findClose{
	position:relative;
	width:24px;
	height:24px;
	vertical-align:top;
	margin:5px 0 0 10px;
	cursor:pointer;
}
#findPrev svg, #findNext svg{
	position:absolute;
	left:5px;
	top:5px;
	width:14px !important;
	height:14px !important;
}
#findClose svg{
	position:absolute;
	left:4px;
	top:4px;
	width:16px !important;
	height:16px !important;
}
#findPrev:hover, #findNext:hover, #findClose:hover{
	fill-opacity:1;
}
#findPrev.disabled, #findNext.disabled{
	fill-opacity:0.3;
	cursor:default;
}

.findMatch{
	background-color:var(--git-graph-findMatch);
}